*{
  margin: 0;
}

body{
  background-image: url("images/bckimg.jpg");
  /*background-color: #f2f2f2;*/
  font-family: helvetica;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.left{
  max-width: 15%;
  position: fixed;
  z-index: 0;
  top: 20%;
  left: 2%;
  background-color: rgba(0,0,0,0.5);
  padding: 8px 0;
}

.left img{
  max-height: 15%;
  max-width: 100%;
}

.left a {
  margin-top: 0;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(255,255,255,0.75);
  display: block;
}

.left a:hover{
  color: grey;
}

.right{
  margin-top: 0.938em; /*try in in chrome .. use the element thingy*/
  padding-left: 300px;
  padding-right: 300px;
  margin-left: 20%;
  margin-right: 5%;
  text-align: center;
  background-color: #362d2d5c;
  font-size: 0.938em;
  overflow:hidden;
}

.right p, li{
  line-height: 2;
  color: #ddddddc7;
}
h1{
  color:#f0ffffcf;
}

.vid{
  margin-top: 10px;
  background-color: #D9D9D9;
  padding: 50px;
  margin-left: 20%;
  margin-right: 5%;
}

iframe{
  margin-left: 30%;
}

nav{
  top: 10px;
  width: 92%;
  margin-left: 45px;
}

nav ul{
  list-style-type: none;
  margin-left: -1%;
  margin-top: 10px;
  padding: 15px;
  overflow: hidden;
  background-color: #f57b7b5c;
}

li {
  float: left;
}

li a {
  font-family: helvetica;
  font-weight: 600;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  border: 1.5px solid black;
  transition: all .3s ease-in;
}
li a:active{
  background-color: black;
}

footer{
  min-height: 50px;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: #f57b7b5c;
  margin-left: 20%;
  margin-right: 5%;
}

/*Styling searchbar*/
nav input[type=text]{
  float: right;
  padding: 10px; border: none;
  margin-top: 4px;
  margin-right: 16px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
     nav ul, nav input[type=text], .right{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    nav{
      margin-left: -2%;
    }
    nav input[type=text] {
        border: 1px solid #ccc;
    }
    .vid{
      margin-top: 10px;
      background-color: black;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
    img{
      max-width: 100%
    }
    iframe{
      margin-left: 0;
      align: middle;
    }
    .left {
      display: none;
    }
}

@media screen and (max-width: 1000px) {
     nav ul, nav input[type=text], .right{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    nav{
      margin-left: -2%;
    }
    nav input[type=text] {
        border: 1px solid #ccc;
    }
    .vid{
      margin-top: 10px;
      background-color: black;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
    img{
      max-width: 100%
    }
    iframe{
      margin-left: 0;
      align: middle;
    }
    .left {
      display: none;
    }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbut {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: helvetica;
  font-weight: 600;
  margin: 0;
}


.dropdown:hover .dropbut {
  background-color: black;
}


.dropcon {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}


.dropcon a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropcon a:hover {
  background-color: #2b7a78;
}

.dropdown:hover .dropcon {
  display: block;
}

nav ul .current{
    background-color: black;
    color: white;
}

a{
  color: limegreen;
}
